.c-loader {
  animation: is-rotating 1s infinite;
  border: 11px solid #e5e5e5;
  border-radius: 50%;
  border-top-color: #d10018;
  height: 50px;
  width: 50px;
  padding: 60px;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}
