<div class="container d-flex align-items-center justify-content-center">
  <div class="text-center">
    <p>Você não está sozinho.
       Nós estamos aqui por você.

       Por favor, aguarde um momento enquanto buscamos alguém para te ajudar.
    </p>
      <div class="c-loader"></div>
  </div>
</div>
