<h1>Pages#home</h1>
<p>Que bom que você chegou!
Nós estamos aqui, prontos
para te escutar e apoiar
neste momento difícil.</p>
<%= link_to "SOS", pages_emergency_form_path, class: "btn btn-danger" %>
<p>Sente que está muito pesado? Vamos conversar, estamos aqui por você!</p>
