<div class="container d-flex align-items-center justify-content-center col-6 my-4">
  <div class="text-center">
  <h1> <strong>Você não está sozinho</strong></h1>
    <strong><p class="my-4">Que bom que você chegou!
      Nós estamos aqui, prontos
      para te escutar e apoiar
      neste momento difícil.
    </p></strong>
    <div class="d-flex justify-content-center my-4">
      <%= link_to "SOS", pages_emergency_form_path, class: "sos-btn" %>
    </div>
    <strong><p class="my-5">Sente que está muito pesado? Vamos conversar, estamos aqui por você!</p></strong>
  </div>
</div>

<footer> <%= image_tag "abraco.jpg", class: "footer-image img-fluid" %></div> </footer>
