<div class="container d-flex align-items-center justify-content-center">
  <div class="text-center">
  <br>
    <p>Você não está sozinho.</p>
    <p> Nós estamos aqui por você.</p>
    <p>Por favor, aguarde um momento enquanto buscamos alguém para te ajudar.</p>
    <br>
    <div class="c-loader container"></div>
  </div>
</div>
