<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <h1>Forum Threads</h1>
    <%= link_to 'New Thread', new_forum_thread_path, class: "btn btn-success" %>
  </div>

  <% @forum_threads.each do |thread| %>
    <div class="thread">
      <h2><%= link_to thread.subject, forum_thread_path(thread) %></h2>
      <p>Started by: <%= thread.user.name %></p>
    </div>
  <% end %>
</div>
