<!-- app/views/users/registrations/select_role.html.erb -->
<form data-controller="role">
  <div class="form-check">
    <input class="form-check-input" type="radio" name="role" value="user" id="userRole" data-role-target="user" data-action="role#redirect">
    <label class="form-check-label" for="userRole">
      User
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="role" value="volunteer" id="volunteerRole" data-role-target="volunteer" data-action="role#redirect">
    <label class="form-check-label" for="volunteerRole">
      Volunteer
    </label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
